@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@100;200;300;400;500&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@800&family=Righteous&family=Silkscreen:wght@700&display=swap');
* {
  border-style: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #aaccff;
  --secondary-color: #feb6ca;
  --tertiary-color: #86d9ca;
  --quartiary-color: #ddc894;
  --bg-color: #222233;
  --bg-color2: #807f94;
}

body {
  font-family: 'Poppins', sans-serif;
  height: max-content;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.cursive {
  font-family: 'Caveat', cursive;
}

.navbar-brand {
  color: #aaccff;
  text-shadow: 3px 3px #222233;
  font-size: 3rem;
  font-family: 'Righteous', cursive;
}

.fa-bars {
  color: var(--primary-color);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.bg-light {
  background-color: var(--bg-color) !important;
}

.fa-brands {
  color: var(--secondary-color) !important;
}
.fa-brands:hover,
footer > p > a:hover,
.link:hover {
  background-color: var(--secondary-color) !important;
  color: var(--bg-color) !important;
}

.info {
  width: 80%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

/* home */

.bg-img {
  display: flex;
  height: 88vh;
  background: url('./images/flower4.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title {
  color: var(--primary-color);
  background-color: rgba(34, 34, 51, 0.5);
  padding: 50px;
  font-weight: 1000;
  width: 80vw;
}

@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slideset6 > * {
  animation: 12s autoplay6 infinite linear;
  position: absolute;
  opacity: 0;
}
#slideset6 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset6 > *:nth-child(2) {
  animation-delay: 6s;
}

.on-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(34, 34, 51, 0.8);
  padding: 20px;
  width: 60vw;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  padding: 20px;
  border-radius: 10px;
}

/* teamleden */

.cards {
  margin: 20px auto;
}
.card {
  margin: 20px auto;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0;
  box-shadow: 0 0 15px #0b1a14;
  border: none;
}

a:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

/* footer */

footer {
  position: relative;
  margin-top: 10px;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 0.8rem;
  line-height: 0.2;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
}

footer > div {
  position: absolute;
  right: 10px;
  top: 0;
}

footer > div > a > i {
  color: var(--primary-color);
  padding: 10px 5px 0 5px;
}
